# Database
DATABASE_URL="postgresql://user:passworld@host:port/pristimyth?sslmode=require&channel_binding=require"
MONGODB_URI="mongodb+srv://user:password@pristimyth.xxxxxxx.mongodb.net/?appName=pristimyth"